<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Formulário de cadastro de Notícia</title>
</head>

<body>

	<h1>Adicionar notícia</h1>
	<br />

	<form action="/noticias/salvar" method="POST">
		<table>
			<tr>
				<td>
					<label for="titulo">Título</label>
				</td>
				<td>
					<input type="text" name="titulo" id="titulo" placeholder="Título da Notícia" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="resumo">Resumo</label>
				</td>
				<td>
					<input type="text" name="resumo" id="resumo" placeholder="Resumo da notícia" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="autor">Nome Autor</label>
				</td>
				<td>
					<input type="text" name="autor" id="autor" placeholder="Autor da Notícia" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="data_noticia">Data dos Fator</label>
				</td>
				<td>
					<input type="date" name="data_noticia" id="data_noticia" placeholder="Data da Notícia" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="noticia">Notícia</label>
				</td>
				<td>
					<textarea name="noticia" id="noticia" cols="30" rows="5"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="Enviar" />
				</td>
			</tr>
		</table>
	</form>

</body>

</html>